<% content_for :content do %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron">
          <h1 class="display-4">AuthApp</h1>
          <p class="lead">Imagine for a minute, a web app that offers every commodity you can possibly need. And now open your eyes and see - <strong class="text-danger">THE FUTURE</strong>.</p>
          <hr class="my-4">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
