<% content_for :content do %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron">
          <h1 class="display-4">Welcome to AuthApp project</h1>
          <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong class="text-success"> Lorem ipsum </strong>.
          </p>
            <a class="btn btn-primary btn-lg" href="#" role="button"> button </a>
          <hr class="my-4">
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
