<% content_for :content do %>
  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class=display-4>Logout to a new session</h1>
      </div>
    </div>
  </div>

<% end %>

<%= render template: "layouts/application" %>
