<% content_for :content do %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-3 h1">login</h1>

        <%= render :partial => "form" %>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
