<!DOCTYPE html>
<html>
  <head>
    <title>Account creation failure</title>
    <%= render :partial => "shared/htmlHead" %>
  </head>

  <body class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="mb-3">Sorry, no data was input.</h1>
          <p class="lead">
            Refresh the page and try again.
          </p>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
